
<div class="calendar-month">
    <section class="calendar-month-header">
        <section class="calendar-month-header-selectors">
            <span (click)="previousMonth()" id="previous-month-selector"><</span>
            <div class="calendar-month-header-selected-month"> 
                <h1>{{ selectedMonth }}</h1>
            </div>
            <span (click)="nextMonth()" id="next-month-selector">></span>
        </section>
    </section>

    <ol id="days-of-week" class="day-of-week">
        <li *ngFor="let weekday of WEEKDAYS"> {{ weekday }}</li>
    </ol>

    <ol id="calendar-days" class="days-grid">
        <div *ngFor="let day of calendarDaysElement">
            <li *ngIf="day[1] == 'today'" class="calendar-day calendar-day-today"> {{ day[0] }}</li>
            <li *ngIf="day[1] == 'not_current'" class="calendar-day calendar-day--not-current">{{ day[0] }}</li>
            <li *ngIf="day[1] == ''" class="calendar-day">{{ day[0] }}</li>

        </div>
    </ol>
    
</div>


<script></script>